<link rel="stylesheet" href="/css/reset.css">
<div class="formContainer">
    <form class="form" action="/reset" method="post">
       
        <h1 class="heading"> <i class="fa-solid fa-lock fa-beat-fade"></i>
            Reset Your Password</h1>
        <div><img src="" alt=""></div>
        
        <div class="inputInfo">
            <input class="inputField" type="text" placeholder="Enter Your Email" name="email">
        </div>

        <div class="inputInfo">
            <input class="inputField" type="password" name="oldPassword" placeholder="Enter Your Old password">
        </div>

        <div class="inputInfo">
            <input class="inputField" type="password" name="newPassword" placeholder="Enter Your New password">
        </div>

        <div class="bottonnContainer">
            <button class="button" type="submit">Submit</button>
        </div>
        
    </form>
</div>
<!-- <%- include("./partial/messages"); %> -->